name: Test Tomato App

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v3
      with:
        node-version: '20.x'
    - run: |
        cd backend
        npm install
    - run: |
        cd backend
        npm test -t User.test.ts
